@model IEnumerable<DDari.Models.Contract_buy>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2>All Contract For Buy Properties</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id_user = item.id_user, id_property = item.id_property }) |
                    @Html.ActionLink("Details", "Details", new { id_user = item.id_user, id_property = item.id_property })|
                    @Html.ActionLink("Delete", "Delete", new { id_user = item.id_user, id_property = item.id_property })

                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Back to the Menu", "Index", "StaForProperty")
</center>