@model IEnumerable<DDari.Models.Reclamation>

@{
    ViewBag.Title = "MyReclam";
    Layout = "~/Views/Shared/dashboardCustomer.cshtml";
}

<!-- datatable CSS -->
<link rel="stylesheet" href="~/Content/Back/vendors/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/Back/vendors/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/Back/vendors/datatable/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="/Content/Back/css/style.css">
<!-- Custom CSS -->
<link href="~/Content/css/styles.css" rel="stylesheet">

<!-- Custom Color Option -->
<link href="~/Content/css/colors.css" rel="stylesheet">

<link href="~/Scripts/vendors/datepicker/date-picker.css" rel="stylesheet" />



                <div class="col-lg-9 col-md-12">
                    <div class="dashboard-wraper">
                        <a href="#" class="btn btn-link mb-3" id="adsear">Show advanced search</a>
                        <div class="container-fluid p-0 sm_padding_15px" id="searcharea" style="display:none;">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <div class="white_card card_height_100 mb_30">
                                        <div class="white_card_header">
                                            <div class="box_header m-0">
                                                <div class="main-title">
                                                    <h3 class="m-0">Advanced search</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="white_card_body">
                                            <div class="card-body">

                                                <h4>Multi criteria search</h4>

                                                <div class="row">

                                                    <form action="@Url.Action("searchMineMulti","Reclamation")" method="post">

                                                        <div class="form-row">

                                                            <div class="search_field">

                                                                <input type="text" name="filter" placeholder="filter..." class="form-control" />

                                                            </div>


                                                            <div class="form-group col-md-6">
                                                                <select name="type" id="myselect1" class="form-control">
                                                                    <option>Select type</option>
                                                                    <option value="fact">Fact</option>
                                                                    <option value="definition">Definition</option>
                                                                    <option value="value">Value</option>
                                                                    <option value="cause">Cause</option>
                                                                    <option value="comparison">Comparison</option>
                                                                    <option value="policy">Policy</option>
                                                                </select>

                                                            </div>

                                                        </div>




                                                        <div class="input-group common_date_picker">
                                                            <input class="datepicker-here  digits" type="text" data-language="en" placeholder="Pick start date" name="date1">
                                                            <input class="datepicker-here  digits" type="text" data-language="en" placeholder="Pick end date" name="date2">
                                                        </div>

                                                        <div class="mt-3 ">
                                                            <div class=" ">

                                                                <input class="form-check-input" type="radio" name="treat" id="treatr" value="true">
                                                                <label class="form-check-label " for="gridRadios1">
                                                                    Treated
                                                                </label>
                                                            </div>
                                                            <div class="">
                                                                <input class="form-check-input" type="radio" name="treat" id="treatr1" value="false">
                                                                <label class="form-check-label" for="gridRadios1">
                                                                    Not treated
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <button type="submit" class="btn btn-outline-theme mb-3 mt-3">Search</button>
                                                    </form>




                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="container-fluid p-0">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12">
                                        <div class="white_card card_height_100 mb_30">
                                            <div class="white_card_header">
                                                <div class="box_header m-0">
                                                    <div class="main-title">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="white_card_body">
                                                <div class="QA_section">
                                                    <div class="white_box_tittle list_header">
                                                        <h4>My Claims</h4>
                                                        <div class="box_right d-flex lms_block">
                                                            <div class="serach_field_2">
                                                                <div class="search_inner">
                                                                    <form action="">
                                                                        <div class="search_field">
                                                                            <input type="text" name="search" placeholder="Search content here...">
                                                                        </div>
                                                                        <button type="submit"><i class="ti-search"></i></button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="add_button ml-10">
                                                                @Html.ActionLink("Add New", "Create", null, new { @class = "btn_1" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="QA_table mb_30">
                                                        <!-- table-responsive -->
                                                        <table class="table lms_table_active ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col"> @Html.DisplayNameFor(model => model.type)</th>
                                                                    <th scope="col">    @Html.DisplayNameFor(model => model.title)</th>
                                                                    <th scope="col"> @Html.DisplayNameFor(model => model.explication)</th>
                                                                    <th scope="col"> @Html.DisplayNameFor(model => model.dateTime)</th>

                                                                    <th scope="col"> @Html.DisplayNameFor(model => model.state)</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <th scope="row">
                                                                            <a href="#"
                                                                               class="question_content">            @Html.DisplayFor(modelItem => item.title)</a>

                                                                        </th>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.type)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.explication)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.dateTime)
                                                                        </td>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.state)
                                                                        </td>
                                                                        <td>
                                                                            <a id="modalin" style="color: #2c323f"
                                                                               href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#modaltreat"
                                                                               data-id="@item.id"
                                                                               data-title="@item.title"
                                                                               data-type="@item.type"
                                                                               data-desc="@item.explication"
                                                                               data-datec="@item.dateTime"
                                                                               data-state="@item.state"
                                                                               data-treat="@item.treatement">  Detail </a>

                                                                            @Html.ActionLink("Delete", "DeleteMy", "Reclamation", new { id = item.id }, new { style = "color: #fd517d" })
                                                                        </td>
                                                                    </tr>
                                                                }


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

     


    <div class="modal fade signup" id="modaltreat" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
            <div class="modal-content">
                <span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="card_box position-relative  mb_30 white_bg  ">
                        <div class="white_box_tittle blue_bg    ">
                            <div class="main-title2 ">
                                <h4 class="mb-2 nowrap text_white" id="ctit">  </h4>

                            </div>
                        </div>
                        <div class="box_body">


                            <h4>
                                Claim type
                            </h4>

                            <p class="f-w-400 " id="ctype">

                            </p>



                            <h4>
                                Explication
                            </h4>

                            <p class="f-w-400 " id="cexp">

                            </p>

                            <h4>
                                Date
                            </h4>

                            <p id="cdate">

                            </p>



                            <h4>
                                Treatement
                            </h4>

                            <p class="f-w-400 " id="ctreat">

                            </p>



                            <div class="" role="alert">
                                <div class="alert-text" id="cstate"></div>
                            </div>
                            <p class="f-w-400 ">

                            </p>

                        </div>
                        <div class="card_footer">

                        </div>
                    </div>


                </div>
                <div class="modal-footer  ">

                    <div id="formaff" class="w-100">


                        <div class="col-md-4  form-group">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <script src="~/Content/Back/js/jquery-3.4.1.min.js"></script>

    <script>
        $(document).on("click", "#modalin", function () {



            let cid = $(this).data("id");
            let title = $(this).data("title");
            let explication = $(this).data("desc");
            let datec = $(this).data("datec");

            let state = $(this).data('state');
            let type = $(this).data('type');
            let treat = $(this).data("treat");

            $("#ctype").empty().append(type);
            $("#cexp").empty().append(explication);
            $("#cdate").empty().append(datec);
            console.log(state);
            if (state == "True") {
                $("#cstate").empty().append("Treated").removeClass().addClass("alert text-white bg-success");

            } else {
                $("#cstate").empty().append("Not Treated").removeClass().addClass("alert text-white bg-danger");

            }
            $("#ctreat").empty().append(treat);


            $('.modal-title').empty().append(title);


            $("exampleModalLong").modal("show");
        });
    </script>


    <script>
        $(document).ready(function () {

            $("#adsear").click(() => {

                $("#searcharea").toggle(500);
            })

        })
    </script>


    <script>
        $('#treatr').bind('click mousedown', (function () {
            //Capture radio button status within its handler scope,
            //so we do not use any global vars and every radio button keeps its own status.
            //This required to uncheck them later.
            //We need to store status separately as browser updates checked status before click handler called,
            //so radio button will always be checked.
            var isChecked;

            return function (event) {
                //console.log(event.type + ": " + this.checked);

                if (event.type == 'click') {
                    //console.log(isChecked);

                    if (isChecked) {
                        //Uncheck and update status
                        isChecked = this.checked = false;
                    } else {
                        //Update status
                        //Browser will check the button by itself
                        isChecked = true;

                        //Do something else if radio button selected
                        /*
                        if(this.value == 'somevalue') {
                            doSomething();
                        } else {
                            doSomethingElse();
                        }
                        */
                    }
                } else {
                    //Get the right status before browser sets it
                    //We need to use onmousedown event here, as it is the only cross-browser compatible event for radio buttons
                    isChecked = this.checked;
                }
            }
        })()); $('#treatr1').bind('click mousedown', (function () {
            //Capture radio button status within its handler scope,
            //so we do not use any global vars and every radio button keeps its own status.
            //This required to uncheck them later.
            //We need to store status separately as browser updates checked status before click handler called,
            //so radio button will always be checked.
            var isChecked;

            return function (event) {
                //console.log(event.type + ": " + this.checked);

                if (event.type == 'click') {
                    //console.log(isChecked);

                    if (isChecked) {
                        //Uncheck and update status
                        isChecked = this.checked = false;
                    } else {
                        //Update status
                        //Browser will check the button by itself
                        isChecked = true;

                        //Do something else if radio button selected
                        /*
                        if(this.value == 'somevalue') {
                            doSomething();
                        } else {
                            doSomethingElse();
                        }
                        */
                    }
                } else {
                    //Get the right status before browser sets it
                    //We need to use onmousedown event here, as it is the only cross-browser compatible event for radio buttons
                    isChecked = this.checked;
                }
            }
        })());
    </script>

    <script src="~/Content/Back/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/Back/js/custom.js"></script>
    <!-- responsive table -->
    <script src="~/Content/Back/vendors/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Back/vendors/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Back/vendors/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/Back/vendors/datatable/js/buttons.flash.min.js"></script>
    <script src="~/Content/Back/vendors/datatable/js/jszip.min.js"></script>
    <script src="~/Content/Back/vendors/datatable/js/pdfmake.min.js"></script>
    <script src="~/Content/Back/vendors/datatable/js/vfs_fonts.js"></script>
    <script src="~/Content/Back/vendors/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/Back/vendors/datatable/js/buttons.print.min.js"></script>

    <script src="~/Scripts/vendors/datepicker/datepicker.js"></script>
