@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Welcome!</h2>
                <span class="ipn-subtitle">Welcome To Your Account</span>

            </div>
        </div>
    </div>
</div>
<section class="bg-light">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="filter_search_opt">
                    <a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-12">

                <div class="simple-sidebar sm-sidebar" id="filter_search">

                    <div class="search-sidebar_header">
                        <h4 class="ssh_heading">Close Filter</h4>
                        <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
                    </div>

                    <div class="sidebar-widgets">
                        <div class="dashboard-navbar">

                            <div class="d-user-avater">
                                <img src="~/Content/img/user-3.jpg" class="img-fluid avater" alt="">
                                <h4>Adam Harshvardhan</h4>
                                <span>Canada USA</span>
                            </div>

                            <div class="d-navigation">
                                <ul>
                                    <li class="active"><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
                                    <li><a href="my-profile.html"><i class="ti-user"></i>My Profile</a></li>
                                    <li><a href="@Url.Action("Index","Appointment")"><i class="ti-bookmark"></i>Appointments</a></li>
                                    <li><a href="@Url.Action("trackDelivery","Deliveries")"><i class="ti-layers"></i>Track my deliveries</a></li>
                                    <li><a href="@Url.Action("MyReclam","Reclamation")"><i class="ti-alert"></i>My claims</a></li>
                                    <li><a href="@Url.Action("Messages","Message")"><i class="ti-email"></i>Messages</a></li>
                                    <li><a href="@Url.Action("chat_bot","Message")"><i class="fas fa-robot"></i>Chat bot</a></li>
                                    <li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            @RenderBody()

        </div>
    </div>
</section>
<section class="theme-bg call-to-act-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call-to-act">
                    <div class="call-to-act-head">
                        <h3>Want to Become a Real Estate Agent?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                </div>

            </div>
        </div>
    </div>
</section>