@using DDari.Models
@model DDari.Models.Contract_rent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Contract for rented Properties</h2>
<!-- ============================ Submit Property Start ================================== -->
<section class="gray-simple">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="alert alert-success" role="alert">
                    <p>Please, Sign In before you submit a property. If you don't have an account you can create one by <a href="#">Clicking Here</a></p>
                </div>
            </div>
            <!-- Submit Form -->
            @using (Html.BeginForm())
            {
                <div class="col-lg-12 col-md-12">
                    <div class="submit-page">
                        <!-- Basic Information -->
                        <div class="form-submit">
                            <h3>Basic Information</h3>
                            <div class="submit-section">
                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <label>User Id</label>
                                        @Html.TextBoxFor(m => m.id_user, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Properties Id</label>
                                        @Html.TextBoxFor(m => m.id_property, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Date begin</label>
                                        @*@Html.Editor("DoB", new { @class = "form-control" })*@
                                        @Html.TextBoxFor(m => m.dateDebut, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Date end</label>
                                        @*@Html.Editor("DoB", new { @class = "form-control" })*@
                                        @Html.TextBoxFor(m => m.dateFin, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Details </label>
                                        @Html.TextBoxFor(m => m.details, new { @class = "form-control" })
                                    </div>

                                </div>
                            </div>
                        </div>



                        <div class="form-group col-lg-12 col-md-12">
                            <button class="btn btn-theme-light-2 rounded" type="submit">Submit & Preview</button>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>

</section>
<!-- ============================ Submit Property End ================================== -->
