@model DDari.Models.Utilisateur

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div class="modal-body">
    <h4 class="modal-header-title">Sign Up</h4>
    <div class="login-form">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    @* <div class="input-with-icon">
                    <input type="text" class="form-control" placeholder="Full Name">

                    <i class="ti-user"></i>
                </div>*@
                    <div class="input-with-icon">
                        @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "font-weight-bolder" })
                        @Html.TextBoxFor(model => model.firstName, new { @class = "form-control", placeholder = "fullname" })
                        @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">

                    <div class="input-with-icon">
                        @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "font-weight-bolder" })
                        @Html.TextBoxFor(model => model.lastName, new { @class = "form-control", placeholder = "lastname" })
                        @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">

                    <div class="input-with-icon">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "font-weight-bolder" })
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })                    
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <div class="input-with-icon">

                        <div class="input-with-icon">
                            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "font-weight-bolder" })
                            @Html.TextBoxFor(model => model.username, new { @class = "form-control", placeholder = "username" })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <div class="input-with-icon">
                        <div class="input-with-icon">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "font-weight-bolder" })
                            @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "password" })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <div class="input-with-icon">
                        <select id="registerType" name ="registerType" class="form-control" runat="server">
                            <option value="customer">As a Customer</option>
                            <option value="agent">As a Agent</option>
                            
                        </select>
                        <i class="ti-briefcase"></i>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Sign Up</button>
            </div>


        </div>
        
            }


</div>
    </div>
