@model DDari.Models.Delivery
 @{

Layout=null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Delivery</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <b> Address</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.destination, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.destination, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b>Choose a delivery man</b>
        <div class="col-md-10">
            @Html.DropDownListFor(x=>x.deliverymanId, (IEnumerable<SelectListItem>)ViewBag.selectdm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.deliverymanId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <b>Choose an order to deliver</b>
        <div class="col-md-10">
            @Html.DropDownListFor(model=>model.orderId,(IEnumerable<SelectListItem>)ViewBag.select, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.orderId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <b> Delivery date</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.dateJson, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.dateJson, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

